<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Inicio</title>
</head>
<body>
    <h1>Informacion</h1>
    
    <h2>Sistema: <%=system%></h2>
    <h2>Version Node: <span><%=version%></span></h2>
    <h2>Memoria: <span><%=memory%></span></h2>
    <h2>Procesadores: <span><%=cpu%></span></h2>
    <h2>Ruta de acceso: <span><%=path%></span></h2>
    <h2>Proceso (ID): <span><%=id%></span></h2>
    <h2>Carpeta proyecto: <span><%=folder%></span></h2>
    
</body>
</html>